@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cinza: #353335;
  --morron: #8B622E;
  --laranja: #E28B00;
  --laranja-escuro: #D77300;
} 

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
